In [6]:
n = int(input("number of elements:"))
a = list(map(int, input("enter the numbers:").strip().split()))
mylist = []
for i in a:
    if i%2==0:
        mylist.append(i)
print("even are:", mylist)

number of elements:5
enter the numbers:2 4 6 5 12
even are: [2, 4, 6, 12]

In [1]:
string = input("")
i = 0
for x in string:
    print("the position of {} is at {},".format(x, i))
    i = i+1

chai
the position of c is at 0,
the position of h is at 1,
the position of a is at 2,
the position of i is at 3,

In [2]:
n= int(input())
mylist = list(map(int, input("enter the elements,").strip().split()))
i = 0
for x in mylist:
    print("the position of {} is at {},".format(x, i))
    i = i+1

2
enter the elements,2 4
the position of 2 is at 0,
the position of 4 is at 1,

In [ ]:
#count

In [1]:
list = [1, 2, 3, 5, 5, 6,]
print(list.count(5))

2
2

In [2]:
x = 'chhaai' #string
print(x.count('a'))  #string

2
2

In [3]:
#index
print(x.index('a'))  #string

3
3

In [5]:
print(list.index(5))

3
3

In [8]:
#append
list = [1,2,3]
list.append(4)
list

[1, 2, 3, 4]

[1, 2, 3, 4]

In [8]:
#To add all elements to list upto 100 which are divisible by 10
i = 1
list =[]
for i in range(0,100):
    if i%10==0:
            list.append(i)
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [9]:
#insert vs append
list = [1,2,3,4,5]
list.append(6)
list

[1, 2, 3, 4, 5, 6]

In [11]:
#append
list = [1,2,3,4,5]
list.insert(5,6) #list.insert(index, element)
list

[1, 2, 3, 4, 5, 6]

In [13]:
#extend
list1 = ['hi', 'my', 'name']
list2 = ['is', 'chai']
list1.extend(list2)
list1

['hi', 'my', 'name', 'is', 'chai']

In [14]:
#extend for list to string
list1.extend("im learning python")
list1

['hi',
 'my',
 'name',
 'is',
 'chai',
 'i',
 'm',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [17]:
#remove -- used to remove special element from list, it cant return removed element
list = [10,20,30]
list.remove(20)
list

[10, 30]

In [18]:
#pop -- used to remove special element from list, it return removed element
list = [10,20,30]
list.pop()

30

In [19]:
list = [10,20,30]
list.pop(1)

20

In [20]:
#append #insert #extend #remove #pop

# Ordering elements of List:

In [15]:
#reverse
n= int(input("no. of elements"))
a = list(map(int,input("enter the elements").strip().split()))
print(a)
a.reverse()
print(a)
print(sorted(a))

print(sorted(a, reverse = True))

no. of elements3
enter the elements1 5 9
[1, 5, 9]
[9, 5, 1]
[1, 5, 9]
[9, 5, 1]

In [5]:
#The process of giving another reference variable to the existing list is called aliasing
x = [1,3,5,7,9]
y = x
print(id(x))
print(id(y))

2051657616648
2051657616648

In [7]:
#the problem in aliasing is if we are changing content, then those changes will be reflected to other reference variable
x
y = x
y[1] = 333
print(x)
# changes in y had occured in x too

[1, 333, 5, 7, 9]

In [9]:
# to avoid this go for cloning
# cloning: The process of creating exactly duplicate independent object

x = [1,3,5,7,9]
#  cloning using slice function
y = x[:]
y[1] = 333
print(x)
print(y)

[1, 3, 5, 7, 9]
[1, 333, 5, 7, 9]

In [10]:
#cloning using code
x = [1,3,5,7,9]
y = x.copy()
y[1]=333
print(x)
print(y)

[1, 3, 5, 7, 9]
[1, 333, 5, 7, 9]

In [12]:
#Using Mathematical operators for List Objects:
#concatentation operator() # used for both lists
a = [1, 2, 5]
b = [8, 9, 10]
c = [a]+ [b]
c

[[1, 2, 5], [8, 9, 10]]

In [14]:
#repetition  operator()
a*3

[1, 2, 5, 1, 2, 5, 1, 2, 5]

In [1]:
# membership operator

In [3]:
#Using Mathematical operators for List Objects:
a = [1, 2, 5]
print(5 in a)

True

# list comprehession

In [1]:
#list=[expression for item in list if condition]
# It is very easy and compact way of creating list objects from any iterable objects(like
#list,tuple,dictionary,range etc) based on some condition.

In [3]:
l = [x**3 for x in range(0,11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [5]:
a = [x*2 for x in range(0,9)]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [16]:
string = "my name is chai"
words = string.split()
l = [x[0] for x in words]
l

['m', 'n', 'i', 'c']

In [18]:
num1 = [1, 2, 3, 4, 5]
num2 = [3, 5, 6]
num3 = [x for x in num1 if x not in num2]
num3

[1, 2, 4]

In [20]:
num4 = [x for x in num1 if x in num2]
num4

[3, 5]

In [17]:
vowels =  ['a', 'e', 'i', 'o', 'u']
list1 = []
given_word = input("enter the word to search:")
for x in given_word:
    if x in vowels:
        if x not in list1:
            list1.append(x)
print(list1)

enter the word to search:chaitanya
['a', 'i']

# Syntax of lambda Function:

In [ ]:
#lambda argument_list : expression
#By using Lambda Functions we can write very concise code so that readability of
#the program will be improved.

In [ ]:
n= int(input())
square = lambda n:n**2
print(square(n))