# some in-bulit functions in python

In [1]:
#abs() it returns ABSOLUTE value of a number
abs(-7)

7

In [7]:
#set() it returns a set object from an iterbale
list1 = [1,1,2,3,5,5,6,7,7]
print(set(list1))

{1, 2, 3, 5, 6, 7}

In [2]:
#Enumerate provides a count when working with iterables
names = ['chai', 'pawan', 'krish']
print(list(enumerate(names)))

[(0, 'chai'), (1, 'pawan'), (2, 'krish')]

In [5]:
for x in enumerate(names):
    print(x)

(0, 'chai')
(1, 'pawan')
(2, 'krish')

In [8]:
#len() number of char in string
    #  number of elements in list
    # number of row in dataframe
string = 'chai'
print(len(string))
print(len(list1))

4
9

In [12]:
#sorted it gives ascending order of iterable
a = [1,5,2,8,63,54,28,991,99]
print(sorted(a))
print(sorted(a, reverse = True))

[1, 2, 5, 8, 28, 54, 63, 99, 991]
[991, 99, 63, 54, 28, 8, 5, 2, 1]

In [14]:
#sorted for string gives in list form
print(sorted(string))

['a', 'c', 'h', 'i']

In [17]:
#zip
x = [1, 2,3,4]
y = ['one', 'two', 'three', 'four']
print(list(zip(x,y)))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [20]:
#range
print(list(range(5)))
print(list(range(0,10,2)))

[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]